mixin nav(menu, className)
	nav(class=`nav ${className || ''}`)
		each item in menu
			if (!item.sub)
				if (item.logo == true)
					+logo({ className: "logo_head" })
				else
					a(href=`${item.href}`)= item.name
				
			else
				.nav__submenu
					a(href=`${item.href}`)= item.name
					.nav__arr
					ul
						each sub in item.sub
							li
								a(href=`${sub.href}`)= sub.name
