-
	var menu = [
		{
			name: "Home",
			href: "index.html"
		},
		{
			name: "Distributors",
			href: "distributors.html"
		},
		{
			name: "Products",
			href: "products.html"
		},
		{
			name: "Category",
			href: "category.html"
		},
		{
			name: "Product",
			href: "product-inner.html"
		},
		{
			name: "Contact",
			href: "contact.html"
		},
		{
			name: "404",
			href: "404.html"
		}
	]


mixin nav(className)
	nav(class=`nav ${className || ''}`)
		each item in menu
			a(href=`${item.href}`)= item.name
