include ../base/mixins

block variables
	- var siteName = "WebPack";
	- var title = "Site";

doctype html
html(lang="en")
	head
		title #{siteName} | #{title}
		include ../base/head

		block style

	body
		.wrapper
			header.header
				include ../objects/header

			main.main
				block content

			footer.footer
				include ../objects/footer
