block variables
- var siteName = "WebPack";
	- var title = "Site";
	- var bodyClasses = "";

doctype html
html(lang="en")
	head
		title #{siteName} | #{title}
		include ../base/head

	body(class=bodyClasses)

		.wrapper.wrap-content
			main.main.page-error
				block content
